<h1>To-Do Items Project</h1>
<h2>To-Do Items</h2>

<div class="todo-buttons" id="button">
  <h4>Choose between:</h4>
  <select class="todo-btn" style="background-color: #ddd;" (change)="onFilter($event)">
    <option value="showAll">Show All</option>
    <option value="showPending">Show Pending</option>
    <option value="showCompleted">Show Completed</option>
    <option value="byId">Show by ID</option>
  </select>
  <button type="button" class="todo-btn" (click)="postNewItem()">Add new</button>
</div>

@if (filteredData.length > 0){
<div class="row">
  <div class="col-4">
    <table>
      <thead>
        <tr>
          <th>Number</th>
          <th>Title</th>
          <th>Description</th>
          <th>Completed</th>
          <th>Mark/Unmark Item</th>
          <th>Delete?</th>
        </tr>
      </thead>
      <tbody>
        @for (item of filteredData; track $index) {
          <tr>
            <td>{{item.id}}</td>
            <td>{{item.itemTitle}}</td>
            <td>{{item.description}}</td>
             @if (item.completed == true) {
              <td>Completed</td>
              <td><button type="button" class="todo-btn" (click)="unmarkItem(item)">Mark as undone</button></td>
             } @else {
              <td>Pending </td>
              <td><button type="button" class="todo-btn" (click)="markItem(item)">Mark as done</button></td>
             }
            <td><button type="button" class="todo-btn" (click)="deleteItem(item.id)">Delete</button></td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
}
